@import "tailwindcss";

:root {
  --background: #c2b8aa;
  --foreground: #beae94;
  --primary: #3a3122;
  --secondary: #555555;
  --accent: #443a28;
  --highlight: #885d14;
}

.dark {
  --background: #c2b8aa;
  --foreground: #beae94;
  --primary: #3a3122;
  --secondary: #dddddd;
  --accent: #443a28;
  --highlight: #885d14;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    --background: #c2b8aa;
    --foreground: #beae94;
    --primary: #3a3122;
    --secondary: #555555;
    --accent: #443a28;
    --highlight: #885d14;
  }
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

